In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.preprocessing import Imputer,StandardScaler

In [2]:
data=pd.read_csv("./datasets2/Train/Train_Data.csv")

In [3]:
Y=data["SalePrice"]
X=data.drop(columns=["SalePrice"])

In [4]:
X

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,2,2008,WD,Normal
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,5,2007,WD,Normal
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,9,2008,WD,Normal
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,12,2008,WD,Normal
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1095,1096,20,RL,78.0,9317,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,3,2007,WD,Normal
1096,1097,70,RM,60.0,6882,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,3,2007,WD,Normal
1097,1098,120,RL,NaN,3696,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,10,2007,WD,Normal
1098,1099,50,RM,50.0,6000,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,7,2009,WD,Normal
1099,1100,20,RL,82.0,11880,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,4,2009,COD,Abnorml

In [5]:
from pandas.api.types import is_integer_dtype,is_float_dtype

In [6]:
col=X.columns.tolist()

In [7]:
numeric_type=[]
string_type=[]

for c in col:
    if is_integer_dtype(X[c]) or is_float_dtype(X[c]):
        numeric_type.append(c)
    else:
        string_type.append(c)

In [8]:
print(len(numeric_type),len(string_type))

37 43

In [9]:
num_df=X[numeric_type]
str_df=X[string_type]

In [10]:
imp1=Imputer(missing_values='NaN',strategy='mean',axis=0)

c:\users\dell\appdata\local\programs\python\python37\lib\site-packages\sklearn\utils\deprecation.py:66: DeprecationWarning: Class Imputer is deprecated; Imputer was deprecated in version 0.20 and will be removed in 0.22. Import impute.SimpleImputer from sklearn instead.
  warnings.warn(msg, category=DeprecationWarning)

In [11]:
num_df=imp1.fit_transform(num_df)

In [22]:
from sklearn.impute import SimpleImputer

In [27]:
imp2=SimpleImputer(missing_values=np.nan,strategy='most_frequent')

In [28]:
str_df=imp2.fit_transform(str_df)

In [30]:
str_df=pd.DataFrame(str_df)

In [31]:
str_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1100 entries, 0 to 1099
Data columns (total 43 columns):
0     1100 non-null object
1     1100 non-null object
2     1100 non-null object
3     1100 non-null object
4     1100 non-null object
5     1100 non-null object
6     1100 non-null object
7     1100 non-null object
8     1100 non-null object
9     1100 non-null object
10    1100 non-null object
11    1100 non-null object
12    1100 non-null object
13    1100 non-null object
14    1100 non-null object
15    1100 non-null object
16    1100 non-null object
17    1100 non-null object
18    1100 non-null object
19    1100 non-null object
20    1100 non-null object
21    1100 non-null object
22    1100 non-null object
23    1100 non-null object
24    1100 non-null object
25    1100 non-null object
26    1100 non-null object
27    1100 non-null object
28    1100 non-null object
29    1100 non-null object
30    1100 non-null object
31    1100 non-null object
32    1100 non-null object
33    1100 non-null object
34    1100 non-null object
35    1100 non-null object
36    1100 non-null object
37    1100 non-null object
38    1100 non-null object
39    1100 non-null object
40    1100 non-null object
41    1100 non-null object
42    1100 non-null object
dtypes: object(43)
memory usage: 369.7+ KB

In [35]:
str_dff=str_df.values

In [41]:
np.unique(str_dff[:,2])

array(['Grvl', 'Pave'], dtype=object)

In [ ]:
columns=[pool]