# KAGGLE : TITANIC SURVIVAL PROBLEM

### learning goals:
- How to pre-process data?
- dropping not useful feature
- filling the missing values(DAta imputation)

In [1]:
import pandas as pd
import numpy as np

In [2]:
data=pd.read_csv("./titanic/train.csv")

In [3]:
data.head(n=10)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
PassengerId    891 non-null int64
Survived       891 non-null int64
Pclass         891 non-null int64
Name           891 non-null object
Sex            891 non-null object
Age            714 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Ticket         891 non-null object
Fare           891 non-null float64
Cabin          204 non-null object
Embarked       889 non-null object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [5]:
columns_to_drop=["PassengerId","Name","Ticket","Cabin","Embarked"]

In [6]:
data_clean=data.drop(columns=columns_to_drop,axis=0)
data_clean.head()

   Survived  Pclass     Sex   Age  SibSp  Parch     Fare
0         0       3    male  22.0      1      0   7.2500
1         1       1  female  38.0      1      0  71.2833
2         1       3  female  26.0      0      0   7.9250
3         1       1  female  35.0      1      0  53.1000
4         0       3    male  35.0      0      0   8.0500

In [7]:
from sklearn.preprocessing import LabelEncoder

In [8]:
le=LabelEncoder()

In [9]:
data_clean["Sex"]=le.fit_transform(data_clean["Sex"])

In [10]:
data_clean.head(n=10)

   Survived  Pclass  Sex   Age  SibSp  Parch     Fare
0         0       3    1  22.0      1      0   7.2500
1         1       1    0  38.0      1      0  71.2833
2         1       3    0  26.0      0      0   7.9250
3         1       1    0  35.0      1      0  53.1000
4         0       3    1  35.0      0      0   8.0500
5         0       3    1   NaN      0      0   8.4583
6         0       1    1  54.0      0      0  51.8625
7         0       3    1   2.0      3      1  21.0750
8         1       3    0  27.0      0      2  11.1333
9         1       2    0  14.0      1      0  30.0708

In [11]:
data_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 7 columns):
Survived    891 non-null int64
Pclass      891 non-null int64
Sex         891 non-null int32
Age         714 non-null float64
SibSp       891 non-null int64
Parch       891 non-null int64
Fare        891 non-null float64
dtypes: float64(2), int32(1), int64(4)
memory usage: 45.4 KB

In [12]:
#data_clean=data_clean.fillna?

In [13]:
#data_clean=data_clean.fillna

In [14]:
data_clean=data_clean.fillna(data_clean["Age"].mean())

In [15]:
data_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 7 columns):
Survived    891 non-null int64
Pclass      891 non-null int64
Sex         891 non-null int32
Age         891 non-null float64
SibSp       891 non-null int64
Parch       891 non-null int64
Fare        891 non-null float64
dtypes: float64(2), int32(1), int64(4)
memory usage: 45.4 KB

In [16]:
data_clean.head(n=10)

   Survived  Pclass  Sex        Age  SibSp  Parch     Fare
0         0       3    1  22.000000      1      0   7.2500
1         1       1    0  38.000000      1      0  71.2833
2         1       3    0  26.000000      0      0   7.9250
3         1       1    0  35.000000      1      0  53.1000
4         0       3    1  35.000000      0      0   8.0500
5         0       3    1  29.699118      0      0   8.4583
6         0       1    1  54.000000      0      0  51.8625
7         0       3    1   2.000000      3      1  21.0750
8         1       3    0  27.000000      0      2  11.1333
9         1       2    0  14.000000      1      0  30.0708

In [17]:
input_cols=["Pclass","Age","Sex","SibSp","Parch","Fare"]
output_cols=["Survived"]

X=data_clean[input_cols]
Y=data_clean[output_cols]

In [18]:
X.head()
Y.head()

   Survived
0         0
1         1
2         1
3         1
4         0

# Def Function for entropy and information gain

In [19]:
def entropy(col):
    counts=np.unique(col,return_counts=True)
    N=float(col.shape[0])
    entropy=0.0
    
    for ix in counts[1]:
        p=ix/N
        entropy+=(-1.0*p)*np.log2(p)
    
    return entropy

In [20]:
col=np.array([1,1,1,0,0,0])
entropy(col)

1.0

In [21]:
def divide_data(xdata,fkey,fval):
    x_left=pd.DataFrame([],columns=xdata.columns)
    x_right=pd.DataFrame([],columns=xdata.columns)
    
    for ix in range(xdata.shape[0]):
        val=xdata[fkey].loc[ix]
        if val> fval:
            x_right=x_right.append(xdata.loc[ix])
        else:
            x_left=x_left.append(xdata.loc[ix])
            
    return x_left,x_right

In [22]:
l,r=divide_data(data_clean[:10],"Sex",0.5)
print(l)
print(r)

   Survived  Pclass  Sex   Age  SibSp  Parch     Fare
1       1.0     1.0  0.0  38.0    1.0    0.0  71.2833
2       1.0     3.0  0.0  26.0    0.0    0.0   7.9250
3       1.0     1.0  0.0  35.0    1.0    0.0  53.1000
8       1.0     3.0  0.0  27.0    0.0    2.0  11.1333
9       1.0     2.0  0.0  14.0    1.0    0.0  30.0708
   Survived  Pclass  Sex        Age  SibSp  Parch     Fare
0       0.0     3.0  1.0  22.000000    1.0    0.0   7.2500
4       0.0     3.0  1.0  35.000000    0.0    0.0   8.0500
5       0.0     3.0  1.0  29.699118    0.0    0.0   8.4583
6       0.0     1.0  1.0  54.000000    0.0    0.0  51.8625
7       0.0     3.0  1.0   2.000000    3.0    1.0  21.0750

In [23]:
def information_gain(x_test,fkey,fval):
    left,right=divide_data(x_test,fkey,fval)
    
    # % of left and right
    l=float(left.shape[0])/x_test.shape[0]
    r=float(right.shape[0])/x_test.shape[0]
    
    # if all entries go to one side then info gain is minimum
    if left.shape[0]==0 or right.shape[0]==0:
        return -100000
    
    i_gain=entropy(x_test.Survived)-(l*(entropy(left.Survived))+r*(entropy(right.Survived)))
    
    return i_gain

In [24]:
# test our function
for fx in X.columns:
    print(fx)
    print(information_gain(data_clean,fx,data_clean[fx].mean()))

Pclass
0.07579362743608165
Age
0.0008836151229467681
Sex
0.2176601066606142
SibSp
0.009584541813400071
Parch
0.015380754493137694
Fare
0.042140692838995464

In [25]:
class DecisionTree:
    
    def __init__(self,depth=0,max_depth=5):
        self.left=None
        self.right=None
        self.fkey=None
        self.fval=None
        self.max_depth=max_depth
        self.depth=depth
        self.target=None
        
    def train(self,x_train):
        features=["Pclass","Age","Sex","SibSp","Parch","Fare"]
        info_gains=[information_gain(x_train,fx,x_train[fx].mean()) for fx in features]
        
        self.fkey=features[np.argmax(info_gains)]
        self.fval=x_train[self.fkey].mean()
        
        data_left,data_right=divide_data(x_train,self.fkey,self.fval)
        data_left=data_left.reset_index(drop=True)
        data_right=data_right.reset_index(drop=True)
        print("Making tree Features is",self.fkey)
        
        if data_left.shape[0]==0 or data_right.shape[0]==0:
            if x_train.Survived.mean() >= 0.5:
                self.target="Survived"
            else:
                self.target="Dead"
            return
                
        if self.depth >= self.max_depth:
            if x_train.Survived.mean()>=0.5:
                self.target="Survived"
            else:
                self.target="Dead"
            return
                
        # recursion
        
        self.left=DecisionTree(depth=self.depth+1,max_depth=self.max_depth)
        self.left.train(data_left)
        
        self.right=DecisionTree(depth=self.depth+1,max_depth=self.max_depth)
        self.right.train(data_right)
        
        
        if x_train.Survived.mean() >= 0.5:
            self.target="Survived"
        else:
            self.target="Dead"
        return
    
    def predict(self,test):
        if test[self.fkey]>self.fval:
            if self.right is None:
                return self.target
            return self.right.predict(test)
        else:
            if self.left is None:
                return self.target
            return self.left.predict(test)

In [26]:
d=DecisionTree()
d.train(data_clean)

Making tree Features is Sex
Making tree Features is Pclass
Making tree Features is Pclass
Making tree Features is Parch
Making tree Features is Age
Making tree Features is Age
Making tree Features is Age
Making tree Features is Parch
Making tree Features is Age
Making tree Features is Fare
Making tree Features is Parch
Making tree Features is Age
Making tree Features is Age
Making tree Features is Age
Making tree Features is Age
Making tree Features is Age
Making tree Features is Age
Making tree Features is Fare
Making tree Features is SibSp
Making tree Features is Fare
Making tree Features is Fare
Making tree Features is Age
Making tree Features is SibSp
Making tree Features is Parch
Making tree Features is Age
Making tree Features is SibSp
Making tree Features is Fare
Making tree Features is Parch
Making tree Features is Parch
Making tree Features is Age
Making tree Features is Age
Making tree Features is Age
Making tree Features is Fare
Making tree Features is Parch
Making tree Features is Pclass
Making tree Features is Pclass
Making tree Features is Age
Making tree Features is SibSp
Making tree Features is Age
Making tree Features is Age
Making tree Features is Age
Making tree Features is Age
Making tree Features is Age
Making tree Features is SibSp
Making tree Features is Age
Making tree Features is Age
Making tree Features is Fare
Making tree Features is Age
Making tree Features is Pclass
Making tree Features is Age
Making tree Features is Age
Making tree Features is Fare
Making tree Features is Age
Making tree Features is Age
Making tree Features is Parch
Making tree Features is SibSp
Making tree Features is SibSp
Making tree Features is Pclass
Making tree Features is Parch
Making tree Features is SibSp
Making tree Features is Parch
Making tree Features is Age
Making tree Features is Age

In [27]:
features=["Pclass","Age","Sex","SibSp","Parch","Fare"]
info_gains=[information_gain(data_clean,fx,data_clean[fx].mean()) for fx in features]

In [28]:
print(info_gains)

[0.07579362743608165, 0.0008836151229467681, 0.2176601066606142, 0.009584541813400071, 0.015380754493137694, 0.042140692838995464]

In [29]:
p=features[np.argmax(info_gains)]
print(p)
print(data_clean[p].mean())

Sex
0.6475869809203143

In [32]:
test_data=pd.read_csv("./titanic/test.csv")

In [33]:
test_data.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [34]:
test_cleaned=test_data.drop(columns=columns_to_drop,axis=0)

In [35]:
test_cleaned["Sex"]=le.fit_transform(test_cleaned["Sex"])

In [36]:
test_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 6 columns):
Pclass    418 non-null int64
Sex       418 non-null int32
Age       332 non-null float64
SibSp     418 non-null int64
Parch     418 non-null int64
Fare      417 non-null float64
dtypes: float64(2), int32(1), int64(3)
memory usage: 18.1 KB

In [37]:
#from sklearn.preprocessing import Imputer

In [38]:
#im=Imputer()

In [39]:
test_cleaned["Age"]=test_cleaned["Age"].fillna(test_cleaned["Age"].mean())
test_cleaned["Fare"]=test_cleaned["Fare"].fillna(test_cleaned["Fare"].mean())
test_clean=test_cleaned

In [40]:
test_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 6 columns):
Pclass    418 non-null int64
Sex       418 non-null int32
Age       418 non-null float64
SibSp     418 non-null int64
Parch     418 non-null int64
Fare      418 non-null float64
dtypes: float64(2), int32(1), int64(3)
memory usage: 18.1 KB

In [41]:
y_pred=[]

for ix in range(test_cleaned.shape[0]):
    y_pred.append(d.predict(test_cleaned.loc[ix]))

In [42]:
print(y_pred)

['Dead', 'Dead', 'Dead', 'Dead', 'Dead', 'Dead', 'Survived', 'Dead', 'Survived', 'Dead', 'Dead', 'Dead', 'Survived', 'Dead', 'Survived', 'Survived', 'Dead', 'Dead', 'Dead', 'Survived', 'Dead', 'Dead', 'Survived', 'Survived', 'Survived', 'Dead', 'Survived', 'Dead', 'Dead', 'Dead', 'Dead', 'Dead', 'Survived', 'Survived', 'Dead', 'Dead', 'Survived', 'Survived', 'Dead', 'Survived', 'Dead', 'Dead', 'Dead', 'Survived', 'Survived', 'Dead', 'Dead', 'Dead', 'Survived', 'Survived', 'Survived', 'Dead', 'Survived', 'Survived', 'Dead', 'Dead', 'Dead', 'Dead', 'Dead', 'Survived', 'Dead', 'Dead', 'Dead', 'Survived', 'Survived', 'Survived', 'Survived', 'Dead', 'Dead', 'Survived', 'Survived', 'Dead', 'Survived', 'Dead', 'Survived', 'Dead', 'Dead', 'Survived', 'Dead', 'Survived', 'Survived', 'Dead', 'Dead', 'Dead', 'Dead', 'Dead', 'Survived', 'Survived', 'Survived', 'Survived', 'Dead', 'Dead', 'Survived', 'Dead', 'Survived', 'Dead', 'Survived', 'Dead', 'Survived', 'Dead', 'Survived', 'Dead', 'Dead', 'Dead', 'Dead', 'Dead', 'Dead', 'Dead', 'Dead', 'Dead', 'Dead', 'Survived', 'Survived', 'Survived', 'Survived', 'Dead', 'Dead', 'Survived', 'Dead', 'Survived', 'Survived', 'Dead', 'Survived', 'Dead', 'Dead', 'Survived', 'Dead', 'Survived', 'Dead', 'Dead', 'Dead', 'Dead', 'Dead', 'Dead', 'Dead', 'Dead', 'Dead', 'Dead', 'Survived', 'Survived', 'Dead', 'Survived', 'Dead', 'Dead', 'Dead', 'Dead', 'Dead', 'Dead', 'Dead', 'Dead', 'Survived', 'Dead', 'Survived', 'Survived', 'Dead', 'Dead', 'Survived', 'Survived', 'Dead', 'Survived', 'Survived', 'Survived', 'Survived', 'Dead', 'Dead', 'Survived', 'Dead', 'Survived', 'Survived', 'Survived', 'Dead', 'Dead', 'Dead', 'Dead', 'Survived', 'Survived', 'Survived', 'Dead', 'Survived', 'Survived', 'Dead', 'Dead', 'Survived', 'Dead', 'Survived', 'Dead', 'Survived', 'Dead', 'Dead', 'Dead', 'Dead', 'Dead', 'Dead', 'Dead', 'Dead', 'Dead', 'Survived', 'Survived', 'Dead', 'Survived', 'Survived', 'Survived', 'Dead', 'Survived', 'Dead', 'Dead', 'Survived', 'Dead', 'Survived', 'Dead', 'Dead', 'Dead', 'Dead', 'Survived', 'Survived', 'Dead', 'Survived', 'Dead', 'Survived', 'Dead', 'Survived', 'Dead', 'Survived', 'Dead', 'Survived', 'Survived', 'Dead', 'Survived', 'Dead', 'Dead', 'Dead', 'Survived', 'Dead', 'Dead', 'Dead', 'Dead', 'Dead', 'Dead', 'Survived', 'Survived', 'Survived', 'Survived', 'Dead', 'Dead', 'Dead', 'Dead', 'Survived', 'Dead', 'Survived', 'Dead', 'Survived', 'Dead', 'Survived', 'Dead', 'Dead', 'Dead', 'Dead', 'Dead', 'Survived', 'Dead', 'Dead', 'Dead', 'Survived', 'Dead', 'Dead', 'Dead', 'Dead', 'Dead', 'Survived', 'Dead', 'Dead', 'Dead', 'Survived', 'Dead', 'Dead', 'Survived', 'Dead', 'Dead', 'Dead', 'Dead', 'Survived', 'Survived', 'Survived', 'Dead', 'Survived', 'Dead', 'Dead', 'Survived', 'Dead', 'Dead', 'Dead', 'Survived', 'Dead', 'Dead', 'Dead', 'Dead', 'Survived', 'Dead', 'Dead', 'Dead', 'Dead', 'Dead', 'Dead', 'Dead', 'Survived', 'Survived', 'Dead', 'Survived', 'Dead', 'Dead', 'Dead', 'Dead', 'Dead', 'Survived', 'Survived', 'Survived', 'Dead', 'Dead', 'Dead', 'Dead', 'Dead', 'Dead', 'Dead', 'Dead', 'Survived', 'Dead', 'Survived', 'Dead', 'Dead', 'Dead', 'Survived', 'Dead', 'Dead', 'Dead', 'Dead', 'Dead', 'Dead', 'Dead', 'Dead', 'Dead', 'Dead', 'Dead', 'Survived', 'Survived', 'Dead', 'Survived', 'Dead', 'Survived', 'Dead', 'Survived', 'Survived', 'Dead', 'Dead', 'Dead', 'Survived', 'Dead', 'Survived', 'Dead', 'Dead', 'Dead', 'Dead', 'Survived', 'Survived', 'Dead', 'Survived', 'Dead', 'Dead', 'Dead', 'Survived', 'Dead', 'Dead', 'Survived', 'Dead', 'Dead', 'Survived', 'Survived', 'Survived', 'Dead', 'Dead', 'Dead', 'Dead', 'Dead', 'Survived', 'Dead', 'Dead', 'Survived', 'Dead', 'Dead', 'Dead', 'Survived', 'Survived', 'Survived', 'Dead', 'Dead', 'Dead', 'Survived', 'Dead', 'Survived', 'Dead', 'Dead', 'Survived', 'Dead', 'Survived', 'Survived', 'Dead', 'Dead', 'Dead', 'Dead', 'Survived', 'Dead', 'Survived', 'Survived', 'Survived', 'Dead', 'Survived', 'Dead', 'Dead', 'Dead']

In [43]:
le=LabelEncoder()
ypredd=le.fit_transform(y_pred)

In [44]:
passengersid=test_data.PassengerId.values

In [45]:
print(passengersid)

[ 892  893  894  895  896  897  898  899  900  901  902  903  904  905
  906  907  908  909  910  911  912  913  914  915  916  917  918  919
  920  921  922  923  924  925  926  927  928  929  930  931  932  933
  934  935  936  937  938  939  940  941  942  943  944  945  946  947
  948  949  950  951  952  953  954  955  956  957  958  959  960  961
  962  963  964  965  966  967  968  969  970  971  972  973  974  975
  976  977  978  979  980  981  982  983  984  985  986  987  988  989
  990  991  992  993  994  995  996  997  998  999 1000 1001 1002 1003
 1004 1005 1006 1007 1008 1009 1010 1011 1012 1013 1014 1015 1016 1017
 1018 1019 1020 1021 1022 1023 1024 1025 1026 1027 1028 1029 1030 1031
 1032 1033 1034 1035 1036 1037 1038 1039 1040 1041 1042 1043 1044 1045
 1046 1047 1048 1049 1050 1051 1052 1053 1054 1055 1056 1057 1058 1059
 1060 1061 1062 1063 1064 1065 1066 1067 1068 1069 1070 1071 1072 1073
 1074 1075 1076 1077 1078 1079 1080 1081 1082 1083 1084 1085 1086 1087
 1088 1089 1090 1091 1092 1093 1094 1095 1096 1097 1098 1099 1100 1101
 1102 1103 1104 1105 1106 1107 1108 1109 1110 1111 1112 1113 1114 1115
 1116 1117 1118 1119 1120 1121 1122 1123 1124 1125 1126 1127 1128 1129
 1130 1131 1132 1133 1134 1135 1136 1137 1138 1139 1140 1141 1142 1143
 1144 1145 1146 1147 1148 1149 1150 1151 1152 1153 1154 1155 1156 1157
 1158 1159 1160 1161 1162 1163 1164 1165 1166 1167 1168 1169 1170 1171
 1172 1173 1174 1175 1176 1177 1178 1179 1180 1181 1182 1183 1184 1185
 1186 1187 1188 1189 1190 1191 1192 1193 1194 1195 1196 1197 1198 1199
 1200 1201 1202 1203 1204 1205 1206 1207 1208 1209 1210 1211 1212 1213
 1214 1215 1216 1217 1218 1219 1220 1221 1222 1223 1224 1225 1226 1227
 1228 1229 1230 1231 1232 1233 1234 1235 1236 1237 1238 1239 1240 1241
 1242 1243 1244 1245 1246 1247 1248 1249 1250 1251 1252 1253 1254 1255
 1256 1257 1258 1259 1260 1261 1262 1263 1264 1265 1266 1267 1268 1269
 1270 1271 1272 1273 1274 1275 1276 1277 1278 1279 1280 1281 1282 1283
 1284 1285 1286 1287 1288 1289 1290 1291 1292 1293 1294 1295 1296 1297
 1298 1299 1300 1301 1302 1303 1304 1305 1306 1307 1308 1309]

In [46]:
sub=[passengersid,ypredd]
submission=np.matrix(sub)

In [47]:
print(submission)

[[ 892  893  894  895  896  897  898  899  900  901  902  903  904  905
   906  907  908  909  910  911  912  913  914  915  916  917  918  919
   920  921  922  923  924  925  926  927  928  929  930  931  932  933
   934  935  936  937  938  939  940  941  942  943  944  945  946  947
   948  949  950  951  952  953  954  955  956  957  958  959  960  961
   962  963  964  965  966  967  968  969  970  971  972  973  974  975
   976  977  978  979  980  981  982  983  984  985  986  987  988  989
   990  991  992  993  994  995  996  997  998  999 1000 1001 1002 1003
  1004 1005 1006 1007 1008 1009 1010 1011 1012 1013 1014 1015 1016 1017
  1018 1019 1020 1021 1022 1023 1024 1025 1026 1027 1028 1029 1030 1031
  1032 1033 1034 1035 1036 1037 1038 1039 1040 1041 1042 1043 1044 1045
  1046 1047 1048 1049 1050 1051 1052 1053 1054 1055 1056 1057 1058 1059
  1060 1061 1062 1063 1064 1065 1066 1067 1068 1069 1070 1071 1072 1073
  1074 1075 1076 1077 1078 1079 1080 1081 1082 1083 1084 1085 1086 1087
  1088 1089 1090 1091 1092 1093 1094 1095 1096 1097 1098 1099 1100 1101
  1102 1103 1104 1105 1106 1107 1108 1109 1110 1111 1112 1113 1114 1115
  1116 1117 1118 1119 1120 1121 1122 1123 1124 1125 1126 1127 1128 1129
  1130 1131 1132 1133 1134 1135 1136 1137 1138 1139 1140 1141 1142 1143
  1144 1145 1146 1147 1148 1149 1150 1151 1152 1153 1154 1155 1156 1157
  1158 1159 1160 1161 1162 1163 1164 1165 1166 1167 1168 1169 1170 1171
  1172 1173 1174 1175 1176 1177 1178 1179 1180 1181 1182 1183 1184 1185
  1186 1187 1188 1189 1190 1191 1192 1193 1194 1195 1196 1197 1198 1199
  1200 1201 1202 1203 1204 1205 1206 1207 1208 1209 1210 1211 1212 1213
  1214 1215 1216 1217 1218 1219 1220 1221 1222 1223 1224 1225 1226 1227
  1228 1229 1230 1231 1232 1233 1234 1235 1236 1237 1238 1239 1240 1241
  1242 1243 1244 1245 1246 1247 1248 1249 1250 1251 1252 1253 1254 1255
  1256 1257 1258 1259 1260 1261 1262 1263 1264 1265 1266 1267 1268 1269
  1270 1271 1272 1273 1274 1275 1276 1277 1278 1279 1280 1281 1282 1283
  1284 1285 1286 1287 1288 1289 1290 1291 1292 1293 1294 1295 1296 1297
  1298 1299 1300 1301 1302 1303 1304 1305 1306 1307 1308 1309]
 [   0    0    0    0    0    0    1    0    1    0    0    0    1    0
     1    1    0    0    0    1    0    0    1    1    1    0    1    0
     0    0    0    0    1    1    0    0    1    1    0    1    0    0
     0    1    1    0    0    0    1    1    1    0    1    1    0    0
     0    0    0    1    0    0    0    1    1    1    1    0    0    1
     1    0    1    0    1    0    0    1    0    1    1    0    0    0
     0    0    1    1    1    1    0    0    1    0    1    0    1    0
     1    0    1    0    0    0    0    0    0    0    0    0    0    1
     1    1    1    0    0    1    0    1    1    0    1    0    0    1
     0    1    0    0    0    0    0    0    0    0    0    0    1    1
     0    1    0    0    0    0    0    0    0    0    1    0    1    1
     0    0    1    1    0    1    1    1    1    0    0    1    0    1
     1    1    0    0    0    0    1    1    1    0    1    1    0    0
     1    0    1    0    1    0    0    0    0    0    0    0    0    0
     1    1    0    1    1    1    0    1    0    0    1    0    1    0
     0    0    0    1    1    0    1    0    1    0    1    0    1    0
     1    1    0    1    0    0    0    1    0    0    0    0    0    0
     1    1    1    1    0    0    0    0    1    0    1    0    1    0
     1    0    0    0    0    0    1    0    0    0    1    0    0    0
     0    0    1    0    0    0    1    0    0    1    0    0    0    0
     1    1    1    0    1    0    0    1    0    0    0    1    0    0
     0    0    1    0    0    0    0    0    0    0    1    1    0    1
     0    0    0    0    0    1    1    1    0    0    0    0    0    0
     0    0    1    0    1    0    0    0    1    0    0    0    0    0
     0    0    0    0    0    0    1    1    0    1    0    1    0    1
     1    0    0    0    1    0    1    0    0    0    0    1    1    0
     1    0    0    0    1    0    0    1    0    0    1    1    1    0
     0    0    0    0    1    0    0    1    0    0    0    1    1    1
     0    0    0    1    0    1    0    0    1    0    1    1    0    0
     0    0    1    0    1    1    1    0    1    0    0    0]]

In [48]:
result=pd.DataFrame(ypredd,columns=["Survived"])
result.index.name="PassengerId"
result.index+=892

In [49]:
result.to_csv("submission.csv")

In [50]:
#### using naive bayes ###

In [51]:
ytrain=data_clean.Survived.values
xtrain=data_clean.values
Xtrain=xtrain[:,1:]
print(Xtrain)

[[ 3.          1.         22.          1.          0.          7.25      ]
 [ 1.          0.         38.          1.          0.         71.2833    ]
 [ 3.          0.         26.          0.          0.          7.925     ]
 ...
 [ 3.          0.         29.69911765  1.          2.         23.45      ]
 [ 1.          1.         26.          0.          0.         30.        ]
 [ 3.          1.         32.          0.          0.          7.75      ]]

In [52]:
from sklearn.naive_bayes import MultinomialNB

In [53]:
mnb=MultinomialNB()

In [54]:
mnb.fit(Xtrain,ytrain)

MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)

In [55]:
sol=mnb.predict(test_cleaned)

In [56]:
print(sol)

[0 0 0 0 0 0 0 0 0 0 0 0 1 0 1 1 0 0 0 0 1 0 1 1 1 0 1 0 0 0 0 1 0 0 1 0 0
 0 0 1 0 0 0 0 1 0 0 0 1 0 1 0 0 1 0 1 0 0 0 1 0 0 0 0 1 0 0 0 0 1 0 0 0 0
 1 1 0 0 0 0 1 1 0 0 0 0 0 0 0 1 0 0 1 0 0 0 1 0 0 0 1 0 0 0 0 0 0 0 0 0 0
 0 0 0 1 0 0 1 1 0 1 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 1 1 1 0 0 0 1 0
 0 0 1 0 0 0 1 0 1 0 0 0 0 0 0 0 0 0 1 1 0 0 0 0 0 0 0 1 1 0 1 1 0 1 1 0 1
 0 0 0 1 0 0 0 0 0 1 0 1 0 0 0 0 1 1 1 0 0 0 0 0 0 0 0 1 0 0 0 0 1 1 0 0 0
 0 0 0 0 0 0 0 0 1 1 0 0 1 0 1 0 0 1 0 0 1 0 0 1 0 0 0 0 1 0 1 0 0 0 0 0 0
 0 0 0 0 1 0 0 0 0 0 0 1 0 1 0 0 1 0 0 0 0 0 1 0 1 1 0 0 1 0 0 1 0 0 1 0 0
 1 0 1 0 0 0 0 0 0 0 1 1 1 0 0 0 0 0 1 0 1 0 0 1 0 0 0 0 1 0 1 1 0 0 0 0 0
 0 0 0 0 0 1 0 0 0 1 1 0 0 0 0 0 0 1 0 1 1 1 0 0 0 0 0 1 1 0 0 1 1 0 1 1 0
 0 1 0 0 1 1 0 0 0 1 0 0 0 0 0 1 0 0 0 1 1 0 0 0 0 1 0 1 0 0 1 0 1 1 0 0 0
 1 0 1 0 1 0 0 1 0 0 0]

In [57]:
ans=pd.DataFrame(sol,columns=["Survived"])
ans.index.name="PassengerId"
ans.index+=892
ans.to_csv("Answer.csv")

# Using Sklern

In [58]:
from sklearn.tree import DecisionTreeClassifier

In [59]:
sk_tree=DecisionTreeClassifier(criterion='entropy',max_depth=5)

In [60]:
sk_tree.fit(data_clean[features],data_clean["Survived"])

DecisionTreeClassifier(class_weight=None, criterion='entropy', max_depth=5,
                       max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort=False,
                       random_state=None, splitter='best')

In [61]:
ans=sk_tree.predict(test_clean[features])

In [62]:
print(ans)

[0 0 0 0 1 0 1 0 1 0 0 0 1 0 1 1 0 0 1 0 0 1 1 0 1 0 1 0 0 0 0 0 1 0 0 0 1
 1 0 0 0 0 0 1 1 0 0 0 1 1 0 0 1 1 0 0 0 0 0 1 0 0 0 1 1 1 1 0 0 1 1 0 1 0
 1 0 0 1 0 1 1 0 0 0 0 0 1 1 1 1 1 0 1 0 0 0 1 0 1 0 1 0 0 0 1 0 0 0 0 0 0
 1 1 1 1 0 0 1 0 1 1 0 1 0 0 1 0 1 0 0 0 0 0 0 0 0 0 0 1 0 0 1 0 0 0 0 0 0
 0 0 1 0 0 1 0 0 1 1 0 1 1 1 1 0 0 1 0 0 1 1 0 0 0 0 0 1 1 0 1 1 0 0 1 0 1
 0 1 0 0 0 0 0 1 0 1 0 1 1 0 1 1 1 0 1 0 0 1 0 1 0 0 0 0 1 0 0 1 0 1 0 1 0
 1 0 1 1 0 1 0 0 0 1 0 0 0 0 0 0 1 1 1 1 0 0 0 0 1 0 1 1 1 0 0 0 0 0 0 0 1
 0 0 0 1 1 0 0 0 0 1 0 0 0 1 1 0 1 0 0 0 0 1 1 1 1 1 0 0 0 0 0 0 1 0 0 0 0
 0 0 0 0 0 0 0 0 1 1 0 1 0 0 0 0 0 0 1 1 0 0 0 0 0 0 0 0 1 0 1 0 0 0 1 0 0
 1 0 0 0 0 0 0 0 0 0 1 0 1 0 0 0 1 1 0 0 0 1 0 1 0 0 1 0 1 1 0 1 0 0 1 1 0
 0 1 0 0 1 1 1 0 0 0 0 0 1 1 0 1 0 0 0 0 0 1 1 0 0 1 0 1 0 0 1 0 1 0 0 0 0
 0 1 1 1 1 1 0 1 0 0 0]

In [63]:
ans=pd.DataFrame(ans,columns=["Survived"])
ans.index.name="PassengerId"
ans.index+=892
ans.to_csv("Answer1.csv")

In [64]:
sk_tree1=DecisionTreeClassifier(max_depth=5)

In [65]:
sk_tree1.fit(data_clean[features],data_clean["Survived"])

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=5,
                       max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort=False,
                       random_state=None, splitter='best')

In [66]:
ans1=sk_tree1.predict(test_cleaned[features])

In [67]:
ans=pd.DataFrame(ans1,columns=["Survived"])
ans.index.name="PassengerId"
ans.index+=892
ans.to_csv("Answer2.csv")

# Visualize a Decision tree

In [93]:
import pydotplus

from sklearn.externals.six import StringIO
from IPython.display import Image
from sklearn.tree import export_graphviz

In [94]:
dot_data=StringIO()
export_graphviz(sk_tree,out_file=dot_data,filled=True,rounded=True)

In [95]:
graph=pydotplus.graph_from_dot_data(dot_data.getvalue())
Image(graph.create_png())

InvocationException: GraphViz's executables not found