In [1]:
# this is a single line comment

In [2]:
"""this is a multi
line comment"""

'this is a multi\nline comment'

In [3]:
20+10/5

22.0

In [4]:
5**3

125

In [5]:
5*3

15

In [6]:
'a'
print(type('a'))

<class 'str'>

In [7]:
print(type("a"))

<class 'str'>

In [8]:
print(type("""abababab"""))

<class 'str'>

In [9]:
print(type(2))

<class 'int'>

In [10]:
print(type(2.0))

<class 'float'>

In [12]:
print("Hello \nWorld ")

Hello
World

In [18]:
print("Hello\n\tWorld")

Hello
	World

In [20]:
x=10
print(x)

10

In [22]:
print(type(x))

<class 'int'>

# indentation

In [6]:
weather = "Rainy"
if weather == "Rainy" :
    print("It's a rainy day")
else :
    print("clear Weather")
print("hello")

It's a rainy day
hello

In [8]:
my_string=("capital of %s is %s"%("India","Delhi"))
print(my_string)

capital of India is Delhi

In [10]:
my_string2=("capital of {} is {}".format("India","Delhi"))
print(my_string2)

capital of India is Delhi

In [11]:
print("Hello world")
print("Hello WWWORLDD!!")

Hello world
Hello WWWORLDD!!

In [13]:
print("Hello world",end=" ")
print("Hello WWWORLDD!!")

Hello world Hello WWWORLDD!!

In [14]:
print("A","B","C")

A B C

In [15]:
print("A","B","C",sep='\n');

A
B
C

In [20]:
name=input()
print("Hello ",name)

15
Hello  15

In [22]:
age=int(name)
print(age)

15

In [23]:
number=int(input())
print(number+20)

78
98

In [24]:
"10 20 30 40 50".split()

['10', '20', '30', '40', '50']

In [25]:
l="10 20 30 40 50".split()
print(l)

['10', '20', '30', '40', '50']

In [27]:
numbers=[no for no in l]
print(numbers)

['10', '20', '30', '40', '50']

In [28]:
numbers=[int(no) for no in l]
print(numbers)

[10, 20, 30, 40, 50]

In [30]:
numbers=[int(no) for no in input().split()]

10 20 30 40 50 60 70 80 90 100

In [31]:
print(numbers)

[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

# Operators

In [32]:
10+5

15

In [33]:
10*5

50

In [34]:
10/3

3.3333333333333335

In [35]:
10%3

1

In [36]:
10//3

3

In [37]:
2**5

32

# Assignment Operator

In [38]:
a=5

In [39]:
a+=1  # a*=5 a/=5;
print(a)

6

# comparison Operators

In [40]:
a==5

False

In [41]:
a==6

True

In [42]:
a=5
a==5

True

In [43]:
a>=5
a>=6
a<=7
a<5

False

# Logical Operators

In [47]:
weather= "Sunny"
Temp=30

if not weather=="Sunny" or Temp>30:
    print("Let's enjoy at home")
else:
    print("Lets go for a outing")

Lets go for a outing

# else if

In [1]:
x=int(input())
if x<0:
    sign=-1
elif x>0:
    sign=1
else:
    sign=0
    
    
print(sign)

-8
-1

# loops in Python

In [2]:
n=10
i=1
while i<=n:
    print("Step %d"%i)
    i=i+1
print("Loop Ended")

Step 1
Step 2
Step 3
Step 4
Step 5
Step 6
Step 7
Step 8
Step 9
Step 10
Loop Ended

In [31]:
for i in range(1,11) :
    print(i,end=" ,")

1 ,2 ,3 ,4 ,5 ,6 ,7 ,8 ,9 ,10 ,

In [24]:
no=int(input())
ans=1
for i in range(1,no+1):
    ans*=i

print(ans)

7
5040

In [29]:
for i in range(10,0,-2):
    print(i,end=" ,")

10 ,8 ,6 ,4 ,2 ,

In [33]:
n=5
for x in range(n):
    for y in range(n):
        print(max(x+1,y+1,n-x,n-y),end=" ")
        
    print()

5 5 5 5 5
5 4 4 4 5
5 4 3 4 5
5 4 4 4 5
5 5 5 5 5

# break pass continue

In [37]:
for i in range(11) :
    if i==5:
        pass
    print(i,end=", ")

0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10,

In [35]:
for i in range(11):
    if i==5:
        break;
    print(i)

0
1
2
3
4

In [36]:
for i in range(11):
    if i==5:
        continue
    print(i)

0
1
2
3
4
6
7
8
9
10

# Strings and builtin methods

In [1]:
a="Coding Blocks"
print(a)

Coding Blocks

In [2]:
print(a[0])

C

In [3]:
print(a[-1])
print(a[-2])

s
k

In [4]:
print(len(a))

13

In [5]:
# strings are not mutable in Python

In [7]:
for c in a:
    print(c)

C
o
d
i
n
g

B
l
o
c
k
s

#  String Working

In [8]:
a="Mango"
b="juice"
print(a+b)

Mangojuice

In [9]:
print(a*5)

MangoMangoMangoMangoMango

In [10]:
# slicing

In [14]:
a[1:-3]

'a'

In [15]:
a[:]

'Mango'

In [16]:
a[-1: ]

'o'

In [17]:
a[1:3]

'an'

# membership

In [19]:
"go" in a

True

In [21]:
x="coding blocks"
y="codi"
if y in x:
    print("true")
else:
    print("false")

true

In [24]:
# string formatting

print("My favourite fruit is %s and it comes from %s"%("mango","ratnagiri"))

My favourite fruit is mango and it comes from ratnagiri

# String: more Inbuilt function

In [26]:
para="""this is a multi line
paragraph to demonstrate commments
and string"""
print(para)

this is a multi line
paragraph to demonstrate commments
and string

In [30]:
l=para.split()
print(l)
print(type(l))
print(type(l[3]))

['this', 'is', 'a', 'multi', 'line', 'paragraph', 'to', 'demonstrate', 'commments', 'and', 'string']
<class 'list'>
<class 'str'>

In [31]:
print(para.splitlines())

['this is a multi line', 'paragraph to demonstrate commments', 'and string']

In [33]:
fruit="mango is best"
print(fruit.upper())
fruit=fruit.upper()
print(fruit.lower())

MANGO IS BEST
mango is best

In [34]:
shake="    apple shake       "
print(len(shake))

22

In [37]:
shake=shake.lstrip()
print(shake)
print(len(shake))

apple shake
11

In [38]:
shake=shake.rstrip()
print(shake)
print(len(shake))

apple shake
11

In [39]:
shake="         pulkit is my name      "
shake=shake.strip()
print(shake)
print(len(shake))

pulkit is my name
17

In [45]:
a="98999"
a.isdigit()

True

In [50]:
c="charac"
print(c.isalpha())
print(c.islower())

True
True

In [47]:
d="aln786"
c.isalnum()

True

In [52]:
b="       "
print(b.isspace())

True

# some more string functionsss

In [60]:
a="I love having Apple Juice and, I like eat green Apple"
print(a.find("Apple"))
print(a.rfind("Apple"))
print(a.rfind("Apples"))

print(a.find("Apple",30,len(a)))

print(a.index("Apple"))

# diff is that find gives -1 when element not present while index give exception

14
48
-1
48
14

In [61]:
a=a.replace("Apple","Mango")
print(a)

I love having Mango Juice and, I like eat green Mango

In [62]:
print(a.count("Mango"))

2

In [64]:
l=a.split()
print(l)
b="-"
b.join(l)

['I', 'love', 'having', 'Mango', 'Juice', 'and,', 'I', 'like', 'eat', 'green', 'Mango']

'I-love-having-Mango-Juice-and,-I-like-eat-green-Mango'

In [1]:
name_org="coding blocks"
print(name_org.capitalize())
print(name_org.title())

Coding blocks
Coding Blocks

# Data Structure in Python:
  ## Strings
  ## lists
  ## tupples
  ## Dictionaries
  ## Sets

# Lists

In [3]:
# List is like array, Hetergenous type

In [5]:
Mylist=[1,2,3.5,"Hello"]
print(Mylist)
print(type(Mylist))

[1, 2, 3.5, 'Hello']
<class 'list'>

In [6]:
l2=list([1,2,3])
print(l2)

[1, 2, 3]

In [9]:
l3=list(l2)
print(l3)
l3=l3+l2
print(l3)

l3.extend(l2)
print(l3)

[1, 2, 3]
[1, 2, 3, 1, 2, 3]
[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [10]:
# list of square of the number
l4=[i*i  for i in range(1,6)]
print(l4)

[1, 4, 9, 16, 25]

In [11]:
l4[0:4]

[1, 4, 9, 16]

In [12]:
l4[-1]

25

In [13]:
l4[-5:-1]

[1, 4, 9, 16]

# Insertion and Deletion in List
- append
- insert

- remove
- pop
- del

In [20]:
# Insert

l=[1,2]
l.append(3)
l.append([1.0,2.1])
print(l)
l+=[4,5,6]
print(l)

[1, 2, 3, [1.0, 2.1]]
[1, 2, 3, [1.0, 2.1], 4, 5, 6]

In [22]:
print(l[3][0])

1.0

In [23]:
# Delete
l.remove(2)
print(l)

[1, 3, [1.0, 2.1], 4, 5, 6]

In [24]:
del l[0]
print(l)

[3, [1.0, 2.1], 4, 5, 6]

In [25]:
l.pop()
print(l)

[3, [1.0, 2.1], 4, 5]

In [26]:
ll=[1,2,3]
ll=ll*4
print(ll)

[1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3]

In [27]:
ll=["Apple","Mango","guaua",80]
80 in ll

True

In [29]:
for i in range(len(l)):
    print(ll[i])

Apple
Mango
guaua
80

In [30]:
for x in ll:
    print(x)

Apple
Mango
guaua
80

In [31]:
l.insert(2,20)
print(l)

[3, [1.0, 2.1], 20, 4, 5]

# More Function in Lists

In [33]:
# max
l=[4,3,2,16,18]
print(max(l))
print(min(l))

18
2

In [34]:
# linear search

print(l.index(16))

3

In [36]:
l=sorted(l)
print(l)

[2, 3, 4, 16, 18]

In [37]:
l=[4,7,3,9,1,8]
l.sort()
print(l)

[1, 3, 4, 7, 8, 9]

In [40]:
l.sort(reverse=True)
print(l)

[9, 8, 7, 4, 3, 1]

In [42]:
numbers=[int(number) for number in input().split()]
print(numbers)
print(type(numbers))

1 2 5 77 99 65 45
[1, 2, 5, 77, 99, 65, 45]
<class 'list'>

## Dictionaries in Python (Hashmap)

In [8]:
d={"Mango":100,"Apple":120}
print(d)
print(d["Apple"])
print(type(d))

# new add
d["Banana"]=40
print(d)

d["Grapes"]=[80,100]
print(d)

d["Pineapple"]={"small":90,"large": 130}
print(d)
print(d["Pineapple"]["large"])

{'Mango': 100, 'Apple': 120}
120
<class 'dict'>
{'Mango': 100, 'Apple': 120, 'Banana': 40}
{'Mango': 100, 'Apple': 120, 'Banana': 40, 'Grapes': [80, 100]}
{'Mango': 100, 'Apple': 120, 'Banana': 40, 'Grapes': [80, 100], 'Pineapple': {'small': 90, 'large': 130}}
130

In [9]:
print(d.keys())

dict_keys(['Mango', 'Apple', 'Banana', 'Grapes', 'Pineapple'])

In [27]:
print(d.values())
print(d.keys())

dict_values([120, 40, [80, 100]])
dict_keys(['Apple', 'Banana', 'Grapes'])

In [26]:
print(d.keys())
print(d.get("Mango"))
print(d.keys())

dict_keys(['Apple', 'Banana', 'Grapes'])
None
dict_keys(['Apple', 'Banana', 'Grapes'])

In [25]:
print(d.get("Mango"))
print(type(d.get("mango")))

None
<class 'NoneType'>

In [29]:
print(d.items())
l=list(d.items())
print(l)

dict_items([('Apple', 120), ('Banana', 40), ('Grapes', [80, 100])])
[('Apple', 120), ('Banana', 40), ('Grapes', [80, 100])]

In [31]:
del d["Apple"]
print(d.items())

dict_items([('Banana', 40), ('Grapes', [80, 100])])

In [34]:
d2={"Strawberry":400}
d.update(d2)
print(d)

{'Banana': 40, 'Grapes': [80, 100], 'Strawberry': 400}

In [35]:
print(len(d))

3

In [36]:
d.clear()
print(len(d))

0

In [43]:
l1=["pulkit","Anirudh","Manas","Sandeep"]
l2=[100,99,98,97]
p=dict(zip(l1,l2))
print(p)
print(type(p))

{'pulkit': 100, 'Anirudh': 99, 'Manas': 98, 'Sandeep': 97}
<class 'dict'>

In [44]:
for k in p:
    print(k)

pulkit
Anirudh
Manas
Sandeep

In [47]:
for v in p.values():
    print(v)

100
99
98
97

In [48]:
# tuples in Python
t=(1,2,3,"Python")
print(t)

(1, 2, 3, 'Python')

In [50]:
print(t[2])
print(type(t))
# tuples are immutable

3
<class 'tuple'>

In [53]:
# covert tupple to list
l=list(t)
print(l)
# list are muttable
l[0]=5
print(l)

[1, 2, 3, 'Python']
[5, 2, 3, 'Python']

In [57]:
t2=tuple(l)
print(t2+t)

(5, 2, 3, 'Python', 1, 2, 3, 'Python')

# Python Sets

In [61]:
s=set([15,1,2,3,2,1,6,5,4,3])
print(s)

{1, 2, 3, 4, 5, 6, 15}

In [63]:
ss={1,2,11,1,3,4}
print(ss)
ss.add(50)
print(ss)

{1, 2, 3, 4, 11}
{1, 2, 3, 4, 11, 50}

In [65]:
s.union(ss)

{1, 2, 3, 4, 5, 6, 11, 15, 50}

In [72]:
s1=set([1,2,3,4,5,6,7])
s2=set([5,6,7,8,9,10,11])
# union
print(s1|s2)
# Intersection
print(s1&s2)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11}
{5, 6, 7}

In [76]:
s1.intersection(s2)

{5, 6, 7}

In [79]:
print(s1-s2)
s1.difference(s2)

{1, 2, 3, 4}

{1, 2, 3, 4}

In [78]:
s1.union(s2)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11}

In [80]:
s2.clear()

In [1]:
a1={1,2,3,4}
a2={2,3,4,5,6}
print(a1^a2)

{1, 5, 6}